<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CollegeAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
	  <add name="ConnectionString"  connectionString="Server=10.16.224.100;Database=partycollegehbb;Uid=dsoa;Pwd=dreamsoft;pooling = false;connection timeout=10;Allow User Variables=True" providerName="MySql.Data.MySqlClient;" />
	  <add name="LogConnectionString" connectionString="Server=10.16.224.100;Database=partycollegelog;Uid=dsoa;Pwd=dreamsoft;pooling = false;connection timeout=10;Allow User Variables=True" providerName="MySql.Data.MySqlClient;" />
  </connectionStrings>
  <appSettings>
    <add key="OLEDB_connString" value="Provider=MySql.Data.MySqlClient;Server=10.16.224.100;Database=partycollegehbb;Uid=dsoa;Pwd=dreamsoft;" />
    <add key="SUPER_connString" value="Provider=OraOLEDB.Oracle;Password=dreamsoft;Persist Security Info=True;User ID=DSOA;Data Source=SHDX;" />
    <add key="ConnectionString"  value="Provider=MySql.Data.MySqlClient;Server=192.168.1.123;Database=ultrax;Uid=root;Pwd=root;" />
    <add key="SQL_connString" value="Provider=SQLNCLI11;Data Source=DS-83DA93E08A16;User ID=sa;Initial Catalog=shuaguang; Password=dreamsoft" />
	 <add key="remoteAttach" value="http://localhost/attach/" />
	 <add key="remoteXYPhoto" value="http://192.168.50.179/UserPhotos/" />
    <add key="remoteUserPhoto" value="http://192.168.50.179/" />
    <add key="remindTime" value="14:48" />
    <add key="remindTimeDelay" value="3" />
    <!--一卡通号码在HR_RYCYXX中的字段-->
    <add key="onecard" value="p_yktaccnum" />
    <add key="screctKey" value="dream-it" />
    <add key="screctIV" value="dream-it" />
    <add key="_corpId" value="wxbca326ee3d2d31b6" />
    <add key="_corpSecret" value="SYqx-PToJblJWoVjUbjH_DMWgEavjy_9PfkWTTwWB3xwBARJFsgtYHcLREPX86Ko" />
    <!--Discuz论坛用户同步-->
    <add key="UC_API" value="http://localhost:8081/discuz/uc_server"/>
    <add key="UC_IP" value="192.168.1.104"/>
    <add key="UC_KEY" value="TbBcA6a79aea1bUbUe29W1ob48j7H6b2be28q8F9i2BaF0i4J2c8u68bn3v7o9Qa"/>
    <add key="UC_CHARSET" value="gbk"/>
    <add key="UC_APPID" value="1"/>

	  <!--启用实时获取配置文件，正式环境应启用，当启用时所有配置文件更改都需要进入相应界面刷新配置-->
	  <add key="memoryConfig" value="false"/>
	  
	<!--启用调试-->
    <add key="debugSQL" value="true"/>
	  <!--设置错误日志缓存行数,需要设置debugSQL为true-->
	  <add key="CacheLogRows" value="1"/>
	  <!--设置性能日志缓存行数，需要设定时间，时间过期停止记录-->
	  <add key="CacheStopWatchRows" value="1"/>
	  <!--设置业务日志缓存行数-->
	  <add key="CacheBusinessRows" value="10"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="True" />
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="appplication/android" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CollegeAPP.Properties.Settings>
      <setting name="CollegeAPP_ReCalcPjData_WS_ReCalcUnitTotal" serializeAs="String">
        <value>http://localhost/xyzz/KJPJ/WS_ReCalcUnitTotal.asmx</value>
      </setting>
    </CollegeAPP.Properties.Settings>
  </applicationSettings>
</configuration>
