<ion-view class="hbbBox" title="全国环保网络学院">
	<ion-header-bar class="bar-positive hide">
		<h1 class="title">登录</h1>
	</ion-header-bar>
	<ion-content class="login-main no-top">	
	    <div class="login-logo-box">
            <img ng-src="{{logoImg}}" src="../img/Hbb/login_logo.png" />
	    </div>
	    <div class="input-group-box">
            <div class="form-control-box">
                <i class="icon icon-user"></i>
                <input class="form-control-hbb" type="text" placeholder="请输入账号或手机号" ng-model="loginData.logname">
            </div>
            <div class="form-control-box">
                <i class="icon icon-pwd"></i>
                <input class="form-control-hbb" type="password" placeholder="请输入密码" ng-model="loginData.password">
            </div>
            <div>
			    <label class="checkbox checkbox-stable" >
			        <input style="left:25px;top:0px;" type="checkbox"  ng-model="rememberPassword" ng-click="onRememberPasswordClick()">
                    <span style="margin-left:30px;">记住密码</span>
                </label>
            </div>
            <button class="btn btn-hbb m-t" id='loginbtn' ng-type="submit" ng-click="login()">登录</button>
	    </div>
		<div class="text-center" style="padding-top:15px;color:#000">
			京ICP备05009132号
		</div>
	</ion-content>
	<ion-footer-bar class="login-footer" >
        <div class="col-xs-6 text-center m-t-xs font-size-18 b-r zhuce" ng-click="Zhuce()" >注册</div>
        <div class="col-xs-6 text-center m-t-xs font-size-18 pas" ng-click="forgetpassword()">找回密码</div>
    </ion-footer-bar>
</ion-view>