<ion-header-bar class="bar-positive" style="background-color: #558B2F;">
	<a class='button button-icon icon ion-ios-arrow-back' ng-click='closePopover()' style="color: #ffffff;"></a>
	<h1 class="title">面授培训</h1>
	<button ng-if="info.status == '-1'" class="button button-light button-outline" ng-click="confirmDeleteTrain();">删除</button>
</ion-header-bar>
<ion-content class="has-header has-footer" style="background-color:#fff;">
	<div class="row face_details">
		<div class="col col-33"><label>*</label>培训名称</div>
		<div class="col col-67">{{info.title}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33"><label>*</label>培训类别</div>
		<div class="col col-67">{{info.type}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33"><label>*</label>开始时间</div>
		<div class="col col-67">{{info.starttime}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33"><label>*</label>结束时间</div>
		<div class="col col-67">{{info.endtime}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33"><label>*</label>拟报学时</div>
		<div class="col col-67">{{info.studytime}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33"><label>*</label>申报年份</div>
		<div class="col col-67">{{info.year}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33">培训地点</div>
		<div class="col col-67">{{info.address}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33">主办单位</div>
		<div class="col col-67">{{info.company}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33">证明人</div>
		<div class="col col-67">{{info.reference}}</div>
	</div>
	<div class="row face_details">
		<div class="col col-33">审核意见</div>
		<div class="col col-67">{{info.remark}}</div>
	</div>
	<div class="item text-center">
		<button class="button button-outline" style="width:50%;" ng-click="closePopover();">关闭</button>
	</div>
</ion-content>