<ion-view title="学员学习资料">
    <go-main-page></go-main-page>
    <ion-content overflow-scroll="false" class="has-header">
        <div class="padding" style="margin-top:10px;">
            <p>
                &nbsp; 培育和践行社会主义核心价值观工作做得更细、更实、更深入人心，努力在这方面走在全国前列。上海各界按照总书记的要求，在“四个全面”战略布局引领下，结合实际，不断探索创新，取得了较好成效。为了进一步推动培育和践行社会主义核心价值观上海实践的深入开展，总结和展示先进经验、先进做法、先进事例。中共上海市委党校、新华社上海分社、中共上海市委党校第三分校、上海支部生活杂志社共同发起上海培育和践行社会主义核心价值观优秀基层案例征集活动&nbsp;
            </p>
            <p>
                <br />
            </p>
        </div>
    </ion-content>
</ion-view>