<ion-view title="教学资料">
    <go-main-page></go-main-page>
    <ion-content class="has-header">
        <div class="jxzy_wrap">
            <div ng-click="goDetial()" class="item item-text-wrap item-icon-right jxzy_list">
                <h2>学员学习资料.doc</h2>
                <span class="user">系统管理员</span>
                <span class="time">2016-05-05</span>
                <i class="icon ion-chevron-right icon_in"></i>
            </div>
            <div ng-click="goDetial()" class="item item-text-wrap item-icon-right jxzy_list">
                <h2>学员学习资料.doc</h2>
                <span class="user">系统管理员</span>
                <span class="time">2016-05-05</span>
                <i class="icon ion-chevron-right icon_in"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
