<ion-content title="评价" style="{{marTop}}">
    <div class="container-fluid" style="background-color:#fff; padding-top:2px; padding:0px;">
        <div class="item item-divider bg-primary">
            <span style="font-size:16px;">
                <i class="icon ion-android-arrow-back" ng-click="displayProp();">&nbsp;返回&nbsp;</i>
            </span>
        </div>
        <!--<div class="item item-body">
            <button class="button button-full button-stable icon-right ion-arrow-down-b button-calm" ng-repeat="tab in tabs">
                {{tab.name}}
            </button>
        </div>-->
        <div class="list">
            <a class="item item-icon-right" ng-repeat="tab in tabs" ng-click="ChooseTab(tab,ispj)">
                {{tab.name}}
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </div>
</ion-content>