<ion-view title="测试页面" style="font-size:30px">
    <ion-header-bar id="headBar" align-title="center" class="bar bar-positive">
        <h1 class="title">测试</h1>
    </ion-header-bar>

    <ion-content class="padding-top bg-gray" ng-controller="loginController">
        <div class="list">
            <div class="item">
                <a ng-click="opennewFile('https://61.139.79.231/collegeapp/apk/移动图书馆V6.1.1.apk')" download="aaa.apk">xiazai</a>
            </div>
        </div>
    </ion-content>
</ion-view>

