<script src="../bower_components/signal/jquery.signalR-2.2.0.min.js"></script>
<!--<script src="http://222.204.170.113/SignalRChart/signalr/hubs"></script>-->
<!--<script src="http://192.168.1.125/SignalRChart/signalr/hubs"></script>-->
    <div class="main">
        <div class="chat_box">
            <ul id="chartDiv"></ul>
            <div class="srk_box">
                <button class="btn btn-sm btn-danger tubiaoicon-29" id="emotion"></button>
                <input type="text" class="left" id="message" />
                <button class="btn btn-sm btn-danger right" id="sendmessage">发送</button>
            </div>
        </div>

        <div class="video-box video-f">
			<div id="mainVideo" class="video-ff"></div>
        </div>
        <div class="video-box video-s">
            <div id="smallVideo" class="video-ss"></div>
        </div>
        <div class="exchange" ng-click="change()"></div>
        <div class="clear"></div>
</div>