<style>
	.grid1 {
		width: 100%;
		height: 500px;
	}
</style>
<div class="wrapper-content wrapper">
	<div class="row">
		<div class="col-md-4">
			<div class="b-a bg-light dk r r-2x" style="border:0px solid red; height:560px; overflow:auto;">
				<span ng-if="doing_async">...loading...</span>
				<abn-tree tree-data="my_data"
						  tree-control="my_tree"
						  on-select="my_tree_handler(branch)"
						  expand-level="2"
						  initial-selection="Granny Smith"
						  icon-leaf="fa fa-file-o"
						  icon-expand="fa fa-plus"
						  icon-collapse="fa fa-minus">
				</abn-tree>
			</div>
		</div>
		<div class="col-md-8">
			<form method="get" name="categoryform" id="categoryform" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">上级分类</label>
					<div class="col-sm-10">
						<select class="form-control" name="fid" ng-model="categoryForm.fid" ng-disabled="parentDisabled">
							<option ng-selected="categoryForm.fid==opt.id"
									ng-repeat="opt in parentCategory" value="{{opt.id}}">
								{{opt.name}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">分类名称</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control"
							   ng-disabled="nameDisabled"
							   ng-model="categoryForm.name" message-id="name_message">
						<p id="name_message" class="error"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">新分类名称</label>
					<div class="col-sm-10">
						<input type="text" name="childname" class="form-control"
							   validator="required"
							   valid-method="watch"
							   required-error-message=""
							   ng-disabled="childnameDisabled"
							   ng-model="categoryForm.childname" message-id="childname_message">
						<p id="childname_message" class="error"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">编码</label>
					<div class="col-sm-10">
						<input type="text" name="code" class="form-control" ng-change="checkCode();"
							   ng-model="categoryForm.code" message-id="code_message">
						<p id="code_message" class="error"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">排序</label>
					<div class="col-sm-10">
						<input type="text" name="sortnum" class="form-control"
							   ng-model="categoryForm.sortnum" message-id="sortnum_message">
						<p id="sortnum_message" class="error"></p>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-primary" ng-click="saveCurrentPushMessageCategory();"
							ng-disabled="saveCurrentButtonDisabled">
						保存当前分类
					</button>
					<button class="btn btn-primary" ng-click="savePushMessageCategory();"
							ng-disabled="saveButtonDisabled">
						保存新增分类
					</button>
					<button class="btn btn-primary" ng-click="deletePushMessageCategory();"
							ng-disabled="deleteDisabled">
						删除
					</button>
					<button class="btn btn-default" ng-click="goToList();">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>