<div class="top">
    <div class="clearfix main row">
		<div class="col-md-4" ng-click="gologin()">
			<a href=""><img class="" src="../img/logo.png" /></a>
		</div>
        <div class="col-md-4 text-center">
            {{todaydatespan}}
        </div>
        <div class="col-md-4 text-right">
            <a href="javascript:void(0);"><i class="icon user"></i>{{user.name}}</a>
			<a href="javascript:void(0);" ng-click="toToSetting();"><i class="icon setting"></i>个人设置</a>
            <a href="javascript:void(0);" ng-click="exit()"><i class="icon logout"></i>退出</a>
        </div>
    </div>
</div>