<style>
    #textRight {
        float: right;
        color: #558a2e;
        font-size: 14px;
        font-weight: bold;
    }

    .textCenter {
        text-align: center;
    }
</style>
<div class="right hbbStudentRight ">
    <h2 class="common many">
        <!--<b>总体情况统计</b><b class="select">在线选学</b><b>学习班</b><b>面授培训</b>-->
        <b ng-repeat="n in tabs" ng-if="n.isshow" ng-class="{true:'select'}[n.selected]" ng-click="changetab(n)">{{n.title}}</b>
        <!--<b ng-click="goarchives()" id="textRight">返回学习档案</b>-->
        <!--<b ng-click="goCompute()" id="textRight">重新生成学习档案</b>-->
    </h2>

    <div ng-if="tabs[0].selected">
        <div class="m-b-lg">
            <span class="m-r font-size-14">
                年度：
                <select class="btn-default p-5" ng-model="searchfilter.year" ng-change="selectchanged(0)" ng-options="y for y in yearArr"></select>
            </span>
        </div>
        <div class="stu-file studyFile_box">
            <div class="section" ng-repeat="n in datalist">
                <div class="tit"><a href="" class="flod"><img ng-src="{{n.src}}" alt="open" ng-click="onExpand(n)" /></a><i class="year">{{n.year}}</i>总共完成 <b class="c01">{{n.total_studytime}}</b> 学时，学习课件累计 <b class="c01">{{n.total_time_cn}}</b> 个小时。</div>
                <div class="text" ng-if="n.expand">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabs">
                        <tr>
                            <th width="320" align="center" bgcolor="#f5f5f5" scope="col">&nbsp;</th>
                            <th align="center" bgcolor="#f5f5f5" scope="col" class="textCenter">课程</th>
                            <th align="center" bgcolor="#f5f5f5" scope="col" class="textCenter">共计</th>
                            <th align="center" bgcolor="#f5f5f5" scope="col" class="textCenter">已完成</th>
                            <th align="center" bgcolor="#f5f5f5" scope="col" class="textCenter">完成率</th>
                        </tr>

                        <tr>
                            <th rowspan="2" align="center" bgcolor="#f5f5f5" class="f14 c01" scope="row"><b class="f14 c01">必修学时</b></th>
                            <td align="center">课程</td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(1,n.year)">{{n.class_courseallcount}}门</b></td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(1,n.year)">{{n.class_coursefinishedcount}}门</b></td>
                            <td rowspan="2" align="center"><b class="c01 f14">{{n.class_progess}}</b></td>
                        </tr>
                        <tr>
                            <td align="center">学时</td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(1,n.year)">{{n.class_allstudytime}}学时</b></td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(1,n.year)">{{n.class_finishedstudytime}}学时</b></td>
                        </tr>
                        <tr>
                            <th rowspan="2" align="center" bgcolor="#f5f5f5" class="f14" scope="row"><b class="f14 c01">选修学时</b></th>
                            <td align="center">课程</td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(2,n.year,0)">{{n.choose_courseallcount}}门</b></td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(2,n.year,1)">{{n.choose_coursefinishedcount}}门</b></td>
                            <td rowspan="2" align="center"><b class="c01 f14">{{n.choose_progess }}</b></td>
                        </tr>
                        <tr>
                            <td align="center">学时</td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(2,n.year,0)">{{n.choose_allstudytime}}学时</b></td>
                            <td align="center"><b class="f14 c01" ng-click="goChange(2,n.year,1)">{{n.choose_finishedstutytime}}学时</b></td>
                        </tr>
                    </table>
                    <dl>
                        <dt>学习关键字</dt>
                        <dd><a href="" title="" class="but01" ng-repeat="k in n.keywordsArr">{{k}}</a></dd>
                    </dl>
                    <dl>
                        <dt>学习时间</dt>
                        <dd><a href="" title="" class="but01">上午 {{n.time_morning}} </a> <a href="" title="" class="but01">下午 {{n.time_noon}}</a> <a href="" title="" class="but01">晚上 {{n.time_night}}</a> </dd>
                    </dl>
                    <dl>
                        <dt>学习频度</dt>
                        <dd>您共登录了 <b class="c01 ">{{n.time_logincount}}</b> 次，{{n.year}}年第一次登录是 <b class=" c01">{{n.time_firstlogintime}}</b> ，最后一次登录是 <b class=" c01">{{n.time_lastlogintime}}</b> 。</dd>
                    </dl>
                    <dl>
                        <dt>评价与交流</dt>
                        <dd>评价了 <b class="c01">{{n.appraise_appraisecount}}</b> 课程，提出了 <b class="c01">{{n.appraise_coursecount}}</b> 问题，共记录了 <b class="c01">{{n.appraise_notecount}}</b> 笔记。</dd>
                    </dl>

                </div>

            </div>
            <div class="section" ng-if="total.isshow">
                <div class="tit"><i class="year">合计</i>总共完成 <b class="c01">{{total.totalstutytime}}</b> 学时，学习课件累计 <b class="c01">{{total.totaltimecn}}</b> 个小时。</div>
            </div>
        </div>
    </div>

    <div ng-if="tabs[1].selected">
        <div ng-if="!ClassAttr.isclassattr">
            <div class="m-b-lg">
                <span class="m-r font-size-14">
                    年度：
                    <select class="btn-default p-5" ng-model="searchfilter.year" ng-change="selectchanged(1)" ng-options="y for y in yearArr"></select>
                </span>
                <span class="m-r font-size-14">
                    合计：{{searchfilter.totalscore}} 学时
                </span>
            </div>
            <table class="table table-bordered font-size-14">
                <tr>
                    <th class="font-bold">课程名称</th>
                    <!--<th class="font-bold text-center" style="width: 100px;">选课时间</th>-->
                    <th class="font-bold text-center" style="width: 100px;">完成时间</th>
                    <th class="font-bold text-center" style="width: 100px;">课程学时</th>
                    <th class="font-bold text-center" style="width: 100px;">完成学时</th>
                </tr>
                <tr ng-repeat="n in datalist">
                    <td>{{n.coursewarename}}</td>
                    <!--<td class="text-center">{{n.createtime}}</td>-->
                    <td class="text-center">{{n.endtime}}</td>
                    <td class="text-center">{{n.score}}</td>
                    <td class="text-center">{{n.isfinished>0 ? n.score : "0"}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-if="tabs[2].selected">
        <div class="m-b-lg">
            <span class="m-r font-size-14">
                年度：
                <select class="btn-default p-5" ng-model="searchfilter.year" ng-change="selectchanged(2)" ng-options="y for y in yearArr"></select>
            </span>
            <span class="m-r font-size-14">
                合计：{{searchfilter.totalscore}} 学时
            </span>
        </div>
        <table class="table table-bordered font-size-14">
            <tr>
                <th class="font-bold">课程名称</th>
                <th class="font-bold text-center" style="width: 100px;">选课时间</th>
                <th class="font-bold text-center" style="width: 100px;">完成时间</th>
                <th class="font-bold text-center" style="width: 100px;">课程学时</th>
                <th class="font-bold text-center" style="width: 100px;">完成学时</th>
            </tr>
            <tr ng-repeat="n in datalist">
                <td>{{n.coursewarename}}</td>
                <td class="text-center">{{n.createtime}}</td>
                <td class="text-center">{{n.endtime}}</td>
                <td class="text-center">{{n.score}}</td>
                <td class="text-center">{{n.isfinished>0 ? n.score : "0"}}</td>
            </tr>
        </table>
    </div>

    <div class="right" ng-if="pIndex>0 && !ClassAttr.isclassattr">
        <div pagination total-items="pagefilter.totalItems" items-per-page="pagefilter.pageSize" max-size="pagefilter.maxSize" ng-model="pagefilter.currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></div>
    </div>
</div>