<style>
    @media all (max-height:769px) {
        .grid1 {
            width: 100%;
            height: 400px;
        }
    }

    @media all and (min-height:770px) and (max-height:900px) {
        .grid1 {
            width: 100%;
            height: 465px;
        }
    }

    @media all and (min-height:901px) and (max-height:1080px) {
        .grid1 {
            width: 100%;
            height: 680px;
        }
    }
</style>
<div class="wrapper-content wrapper">
    <div class="row text-right">
        <div class="col-md-8 text-left">
            <ui-select ng-model="class.forAddCourse" close-on-select="false" multiple theme="bootstrap">
                <ui-select-match placeholder="请选择课程">{{$item.name}} &lt;{{$item.company}}&gt;</ui-select-match>
                <ui-select-choices repeat="item in class.courseList | filter: $select.search">
                    <div style="font-weight:bold" ng-bind-html="item.name | highlight: $select.search"></div>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">授课人:&nbsp;&nbsp;</span><small ng-bind-html="item.teachersname | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-4">
            <!--<button class="btn btn-info" ng-click="copyCourse()">复制课程</button>-->
            <button class="btn btn-info" ng-disabled="addCourseDisabled" ng-click="addCourse()">添加</button>
            <!--<button class="btn btn-info" ng-disabled="gridApi.selection.getSelectedRows().length==0" ng-click="manageCourse()">统一配置</button>-->
			<button class="btn btn-danger" ng-disabled="gridApi.selection.getSelectedRows().length==0" ng-click="delCourseware()">删除</button>
            <!--<button class="btn btn-danger" ng-click="sendSMS()">发送短信</button>-->
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div ui-grid="gridOptions" ui-grid-selection class="grid1"></div>
    </div>
</div>
<script type="text/ng-template" id="copyCourse.html">
    <div class="modal-header text-right">
        <button class="btn btn-warning btn-circle" ng-click="close()" type="button">
            <i class="fa fa-times tubiaoicon-17"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row text-center">
            <h3 style="color:red">此操作将会删除该班级配置的所有课程</h3>
        </div>
        <div class="row text-center" style="font-size:18px">
            复制的课程：
            <input type="checkbox" ng-model="copyCategory.bxk">必修课
            <input type="checkbox" ng-model="copyCategory.xxk">选修课
            <input type="checkbox" ng-model="copyCategory.aljx">案例教学
        </div>
        <div class="row">
            <div ui-grid="gridOptions1" ui-grid-selection style="height:400px"></div>
        </div>
        <div class="row text-right">
			<button class="btn btn-info" ng-disabled="gridApi1.selection.getSelectedRows().length==0||(copyCategory.bxk!=true&&copyCategory.xxk!=true&&copyCategory.aljx!=true)" ng-click="copyNewCourse()">选择</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="courseManage.html">
    <div class="modal-header text-right">
        <button class="btn btn-warning btn-circle" ng-click="close()" type="button">
            <i class="fa fa-times tubiaoicon-17"></i>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="widget style1 badge-primary">
                    <div class="row vertical-align">
                        <div class="col-md-12 text-center">
                            <h3> 课程维护</h3>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <!--不需要统一配置的显示项-->
                        <div ng-if="allManage==false">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">课程名称</label>
                                    <div class="col-sm-10"><input type="text" ng-model="nowCourse.name" disabled class="form-control"></div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-sm-4 control-label">主讲人</label>
                                    <div class="col-sm-8"><input type="text" ng-model="nowCourse.teachersname" disabled class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-4 control-label">年份</label>
                                    <div class="col-sm-8">
                                        <span ng-bind="nowCourse.teachtime|date:'yyyy'" disabled class="form-control"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <!--需要统一配置的显示项-->
                        <div ng-if="allManage==true">
                            <div class="form-group">
                                <label class="col-md-2 control-label">已选课程</label>
                                <div class="col-md-10">
                                    <div ng-repeat="item in selectedCourse">
                                        {{item.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">学后感</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="learningsense" value="1" ng-model="nowCourse.learningsense" />是
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="learningsense" value="0" ng-model="nowCourse.learningsense" />否
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">学分</label>
                                <div class="col-sm-8"><input type="number" ng-model="nowCourse.score" required class="form-control"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">考试</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="exam" value="1" ng-model="nowCourse.exam" />是
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="exam" value="0" ng-change="setExamNumZero()" ng-model="nowCourse.exam" />否
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">考试次数</label>
                                <div class="col-sm-8"><input type="number" ng-disabled="nowCourse.exam==0" ng-model="nowCourse.examnum" class="form-control"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-if="false">
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">合格分</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="nowCourse.passscore" />
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group text-center">
                            <button class="btn btn-info" ng-click="saveCourse()">保存</button>
                            <button class="btn btn-default" ng-click="close()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
