<div class="container">
    <!--
        作者：1350691651@qq.com
        时间：2016-10-12
        描述：登陆框
    -->
    <div class="pull-center content" ng-if="loginPanelStyle[0]">
        <h3><i class="tubiaoicon-19"></i>用户登陆</h3>
        <form class="form-group" action="">
            <ul class="list-unstyled">
                <li>
                    <i class="tubiaoicon-44"></i><input class="form-control" type="text" placeholder="账号/手机号" ng-model="loginObj.logname" />
                    <div class="loginTsBox" ng-if="loginError.isnamenull">
                        <p>账号/手机号不能为空</p>
                    </div>
                </li> 
                <li>    
                    <i class="tubiaoicon-43"></i><input class="form-control" type="password" placeholder="密码" ng-model="loginObj.logpwd" />
                    <div class="loginTsBox" ng-if="loginError.ispwdnull">
                        <p>密码不能为空</p>
                    </div>
                </li>
                <li>
                    <img class="pull-right" ng-src="{{loginVerifyCodeSrc}}" title="点击换一个"  ng-click="changeLoginVerifyCode()" /><i class="tubiaoicon-02"></i><input class="form-control yzm" type="text" placeholder="验证码" ng-model="loginObj.verifycode" maxlength="4" />
                    <div class="loginTsBox" ng-if="loginError.isverifynull">
                        <p>验证码不能为空</p>
                    </div>
                    <div class="loginTsBox" ng-if="loginError.isverifyfailed">
                        <p>验证码错误</p>
                    </div>
                </li>
                <li class="orange"><input type="checkbox" ng-model="loginObj.isremember" />记住用户名<a class="pull-right" ng-click="changePanel(5)">找回密码</a></li>
                <li class="submit">
                    <button class="btn btn-block" type="submit" ng-click="login()" btn-loading-text="登录中..." trigger-loading="beginLoading" ng-disabled="loginError.isloginin">登录</button>
                    <div class="loginTsBox" ng-if="!loginError.isverifyfailed && loginError.isloginfailed">
                        <p>{{loginError.message}}</p>
                    </div>
                </li>
                <li class="submit"><button class="btn btn-block" type="button" ng-click="nextStep(2,false)">注册</button></li>
            </ul>
        </form>
    </div>
    <!--
        作者：1350691651@qq.com
        时间：2016-10-12
        描述：下载APP
    -->
    <div class="pull-center content" ng-if="loginPanelStyle[1]">
        <h3><i class="icon icon_ewm"></i>关注环保</h3>
        <div class="text-center appXZ_box" action="" method="">
			<!--<img src="../img/android_rwm.jpg" alt="" />-->
			<img src="../img/qrc/hbb8.jpg" />
            <!-- <img src="../img/ios_rwm.jpg" alt="" />-->
            <p>全国环保网络学院微信服务号
                <!--<span>安卓版</span>
                <span>IOS版</span>-->
            </p>
            <div class="bottom text-center" ng-click="changePanel(0)">
                <a href="javascript:void(0);" class="orange" ng-click="nextStep(0,true)">返回登陆</a>
            </div>
        </div>
    </div>
    <!--
         作者：1350691651@qq.com
         时间：2016-10-12
         描述：注册1
    -->
    <div class="register" ng-if="loginPanelStyle[2]">
        <div class="content ">
            <h2>用户注册</h2>
            <form name="validateForm" method="post" class="no-error-form" novalidate>
                <ul>
                    <li>
                        <label>手机号</label>
						<input class="phone" type="text"
							   autocomplete="off"
							   name="cellphone"
							   ng-model="registerObj.cellphone"
							   maxlength="11"
							   validator="cellphone"
							   valid-method="watch"
							   valid-callback="remoteCheckCellphone();"
							   invalid-callback="cellphoneInvalidMsgClear();"
							   message-id="phone_message"
							   required-error-message="手机号码必须的。"
							   cellphone-error-message="手机号码输入不正确" />
                        <p class="ts"></p>
						<p id="phone_message" class="error" ng-if="registerError.style[0]" ng-bind="registerError.message"></p>
                    </li>
					<li>
						<label>姓名</label>
						<input type="text"
							ng-model="registerObj.name"
							autocomplete="off"
							name="name"
							validator="required"
							required-error-message="*" />
						<p class="ts">注：请填写本人真实姓名。</p>
						<p class="error"
						   ng-if="registerError.style[1]"
						   ng-bind="registerError.message"></p>
					</li>
                    <li>
                        <label>登录名</label>
						<input type="text"
							   ng-model="registerObj.logname"
							   autocomplete="off"
							   name="logname"
							   validator="logname"
							   valid-method="watch"
							   valid-callback="remoteCheckLogname();"
							   invalid-callback="lognameInvalidMsgClear();"
							   logname-error-message="登录名格式不正确" />
                        <p class="ts">登录名需字母开头，长度6-18位。</p>
                        <p class="error"
                           ng-if="registerError.style[2]"
                           ng-bind="registerError.message"></p>
                    </li>
					<li>
						<label>密码</label>
						<input type="password"
							   autocomplete="off"
							   name="password1"
							   ng-model="registerObj.password1"
							   maxlength="18"
							   validator="password"
							   valid-callback="inputCheckPassword(3);"
							   invalid-callback="passwordInvalidMsgClear(3);"
							   password-error-message="密码格式不正确" />
						<p class="ts">密码长度至少8位</p>
						<p class="error" ng-if="registerError.style[3]" ng-bind="registerError.message"></p>
					</li>
					<li>
						<label>确认密码</label>
						<input type="password"
							   autocomplete="off"
							   name="password2"
							   ng-model="registerObj.password2"
							   maxlength="18"
							   validator="password"
							   valid-callback="inputCheckPassword(4);"
							   invalid-callback="passwordInvalidMsgClear(4);"
							   password-error-message="密码格式不正确" />
						<p class="ts">密码不得低于8位</p>
						<p class="error" ng-if="registerError.style[4]" ng-bind="registerError.message"></p>
					</li>
                    <li>
                        <label>地区</label>
						<select ng-model="registerObj.provice" class="short">
							<option ng-repeat="c in allCity" ng-value="c.name">{{c.name}}</option>
						</select>
						<select ng-model="registerObj.city" class="short" ng-change="userChanged()">
							<option ng-repeat="c in currentCities" ng-value="c.name">{{c.name}}</option>
						</select>
						<select ng-model="registerObj.area" class="short" ng-change="userChanged()">
							<option ng-repeat="c in currentCounties" ng-value="c">{{c}}</option>
						</select>
                        <p class="error"></p>
                    </li>
                    <li>
                        <label>类别</label>
                        <ins><input type="radio" name="category" value="国家部委" ng-model="registerObj.category" />国家部委</ins>
						<ins><input type="radio" name="category" value="省级发改部门" ng-model="registerObj.category" />省级发改部门</ins>
						<ins><input type="radio" name="category" value="市发改部门" ng-model="registerObj.category" />市发改部门</ins>
						<ins><input type="radio" name="category" value="县发改部门" ng-model="registerObj.category" />县发改部门</ins>
						<ins><input type="radio" name="category" value="央企集团" ng-model="registerObj.category" />央企集团</ins>
						<ins><input type="radio" name="category" value="项目单位" ng-model="registerObj.category" />项目单位</ins>
						<p class="error" ng-if="registerError.style[5]" ng-bind="registerError.message"></p>
                    </li>
                    <li>
                        <label>手机验证码</label>
						<input class="dxyz"
							   type="text"
							   autocomplete="off"
							   name="smscode"
							   maxlength="6"
							   ng-model="registerObj.smscode"
							   validator="smscode"
							   required-error-message="*" />
						<button class="btn m-l-sm" ng-disabled="!isVerifyCode||registerForm.telphone.$invalid" ng-click="verifyCodeClick(registerObj.cellphone,registerObj.verifycode,'regverify',5)">
						{{btnVerifyCode}}</button>
						<p class="error" ng-if="registerError.style[6]" ng-bind="registerError.message"></p>
                    </li>
                    <li class="submit">
						<button class="btn" type="button" tabindex="100" ng-click="goBackIndex()">返回</button>
						<button class="btn" type="submit" tabindex="99" ng-click="SaveRegister();" ng-disabled="validateForm.$invalid">立即注册</button>
                    </li>
                </ul>
            </form>

        </div>
    </div>
    <!--找回密码 1-->
    <div class="register" ng-if="loginPanelStyle[5]">
        <div class="content ">
            <h2 class="">找回密码</h2>
            <form name="findpwdForm" method="post" class="error-form">
                <ul>
                    <li>
                        <label>手机号</label><input class="phone" type="text"
                                                          autocomplete="off"
                                                          name="telphone"
                                                          ng-model="findpwdObj.cellphone"
                                                          maxlength="11"
                                                          validator="cellphone"
                                                          cellphone-error-message="手机号格式错误" />
                        <p class="ts">注：请填写注册时使用的手机号码</p>
                        <p class="orange error" ng-if="registerError.style[1]" ng-bind="registerError.message"></p>
                    </li>
                    <li>
                        <label>安全码</label>
                        <input class="yzm"
                               type="text"
                               autocomplete="off"
                               name="yzmcode"
                               ng-model="findpwdObj.yzmcode"
                               validator="required"
                               maxlength="4"
                               required-error-message="*" />
                        <p class="orange error" ng-if="registerError.style[0]" ng-bind="registerError.message"></p>
                        <span class="">
                            <img class="yzmImg" ng-src="{{findpwdVerifyCodeSrc}}" title="点击换一个" ng-click="changefindpwdVerifyCode()" />
                            <span ng-click="changefindpwdVerifyCode()">换一张</span>
                        </span>
                    </li>
                    <li>
                        <label>验证码</label><input class="yzm"
                                                          type="text"
                                                          autocomplete="off"
                                                          name="smsyzmcode"
                                                          maxlength="6"
                                                          ng-model="findpwdObj.smsyzmcode"
                                                          validator="required"
                                                          required-error-message="*" />
                        <button class="btn" type="button" ng-click="verifyCodeClick(findpwdObj.cellphone,findpwdObj.yzmcode,'findpwdverify',0)">{{btnVerifyCode}}</button>
                        <p class="orange error" ng-if="registerError.style[2]" ng-bind="registerError.message"></p>
                    </li>
                    <li class="submit">
						<button class="btn" type="button" tabindex="100" ng-click="goBackIndex()">返回</button>
                        <button class="btn" type="submit" tabindex="99" ng-click="nextStep(6,false)" ng-disabled="findpwdForm.$invalid">下一步</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--密码找回 2-->
    <div class="register" ng-if="loginPanelStyle[6]">
        <div class="content ">
            <h2 class="title">找回密码</h2>
            <form name="findpwdForm_2" method="post" class="error-form">
                <ul>
                    <li>
                        <label>新 密 码</label><input class="phone" type="password"
                                                            autocomplete="off"
                                                            name="password1"
                                                            ng-model="findpwdObj.password1"
                                                            maxlength="18"
                                                            validator="password"
                                                            password-error-message="密码格式不正确" />
                        <p class="ts">密码不得低于8位</p>
                        <p class="orange error" ng-if="registerError.style[4]" ng-bind="registerError.message"></p>
                    </li>
                    <li>
                        <label>确认密码</label><input class="phone" type="password"
                                                           autocomplete="off"
                                                           name="password2"
                                                           ng-model="findpwdObj.password2"
                                                           maxlength="18"
                                                           validator="password"
                                                           password-error-message="密码格式不正确" />
                        <p class="orange error" ng-if="registerError.style[5]" ng-bind="registerError.message"></p>
                    </li>
                    <li class="submit">
                        <button class="btn" type="button" tabindex="100" ng-click="nextStep(5,true)">返回</button>
                        <button class="btn" type="submit" ng-click="nextStep(8,false)" ng-disabled="findpwdForm_2.$invalid">确认</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
