<style>
    .blue {
        color: #1Ab394;
    }

    @media all (max-height:769px) {
        .grid1 {
            width: 100%;
            height: 500px;
        }
    }

    @media all and (min-height:770px) and (max-height:900px) {
        .grid1 {
            width: 100%;
            height: 565px;
        }
    }

    @media all and (min-height:901px) and (max-height:1080px) {
        .grid1 {
            width: 100%;
            height: 720px;
        }
    }

     .mycenter{
        text-align:center;
    }
</style>
<div class="wrapper-content wrapper">
    <div class="row form-horizontal">
        <div class="col-md-9 form-group">
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="col-sm-3 control-label">批次名称</label>
                    <div class="col-sm-9 text-left">
                        <input type="text" class="form-control" search-dbcolumn="name" search-handle="equal" search-dbtype="string" ng-model="search.name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-sm-4 control-label">状态</label>
                    <div class="col-sm-7 text-left">
                        <select class="form-control" search-dbcolumn="state" search-handle="equal" search-dbtype="string" ng-model="search.state">
                            <option value="0">未制卡</option>
                            <option value="1">已制卡</option>
                            <option value="-1">作废</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right">
			<button class="btn btn-info" ng-click="goSearch()">检索</button>
			<button class="btn btn-info" ui-sref="index.cardEdit">新增</button>
            <button class="btn btn-default" ng-click="delete()" ng-disabled="gridApi.selection.getSelectedRows().length==0">删除</button>
        </div>
    </div>
    <div class="row">
        <div id="grid1" ui-grid="gridOptions" class="grid1" ui-grid-pagination ui-grid-selection></div>

    </div>
</div>