<div class="container">
    <!--
        作者：1350691651@qq.com
        时间：2016-10-12
        描述：登陆框
    -->
    <div class="pull-center content" ng-if="loginPanelStyle[0]">
        <h3><i class="tubiaoicon-19"></i>用户登陆</h3>
        <form class="form-group" action="">
            <ul class="list-unstyled">
                <li>
                    <i class="tubiaoicon-44"></i><input class="form-control" type="text" placeholder="账号/手机号" ng-model="loginObj.logname" />
                    <div class="loginTsBox" ng-if="loginError.isnamenull">
                        <p>账号/手机号不能为空</p>
                    </div>
                </li>
                <li>
                    <i class="tubiaoicon-43"></i><input class="form-control" type="password" placeholder="密码" ng-model="loginObj.logpwd" />
                    <div class="loginTsBox" ng-if="loginError.ispwdnull">
                        <p>密码不能为空</p>
                    </div>
                </li>
                <li>
                    <img class="pull-right" ng-src="{{loginVerifyCodeSrc}}" title="点击换一个"  ng-click="changeLoginVerifyCode()" /><i class="tubiaoicon-02"></i><input class="form-control yzm" type="text" placeholder="验证码" ng-model="loginObj.verifycode" maxlength="4" />
                    <div class="loginTsBox" ng-if="loginError.isverifynull">
                        <p>验证码不能为空</p>
                    </div>
                    <div class="loginTsBox" ng-if="loginError.isverifyfailed">
                        <p>验证码错误</p>
                    </div>
                </li>
                <li class="orange"><input type="checkbox" ng-model="loginObj.isremember" />记住用户名</li>
                <li class="submit">
                    <button class="btn btn-block" type="submit" ng-click="login()" btn-loading-text="登录中..." trigger-loading="beginLoading" ng-disabled="loginError.isloginin">登录</button>
                    <div class="loginTsBox" ng-if="!loginError.isverifyfailed && loginError.isloginfailed">
                        <p>{{loginError.message}}</p>
                    </div>
                </li>
                <!--<li class="submit"><button class="btn btn-block" type="button" ng-click="nextStep(2,false)">注册</button></li>-->
            </ul>
            <!--<div class="bottom hide" ng-click="changePanel(1)">
				<span>
					微信服务号
				</span>
				<span><i class="icon icon_ios"></i>Ios</span>
				<span><i class="icon icon_android"></i>Android</span>
			</div>-->
        </form>
    </div>   
    <div id="menuContent" class="menuContent" style="display:none;position: absolute;z-index:9999;width:350px;height:400px; overflow:auto;background-color:#eee;">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
</div>
