
<div class="popup_box">
    <div class="popup_content">
        <!--查看已报名 开始-->
        <div class="content studentsList activity_bm">
            <h2>【某某活动】 已报名<i class="tubiaoicon-17"></i></h2>
            <form action="" method="post">
                <input type="text" name="" id="" value="" placeholder="输入关键字" />
                <input type="submit" value="搜索" />
            </form>
            <table>
                <tr>
                    <td>姓名</td>
                    <td>单位</td>
                    <td>职务</td>
                    <td>职级</td>
                    <td>手机号</td>
                    <td>班级职务</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
            </table>
        </div>
        <!--查看已报名 结束-->
        <!--同学录 开始-->
        <div class="content studentsList">
            <h2>同学录<i class="tubiaoicon-17"></i></h2>
            <form action="" method="post">
                <input type="text" name="" id="" value="" placeholder="输入关键字" />
                <input type="submit" value="搜索" />
            </form>
            <table>
                <tr>
                    <td>姓名</td>
                    <td>单位</td>
                    <td>职务</td>
                    <td>职级</td>
                    <td class="phone">手机号</td>
                    <td>班级职务</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
                <tr>
                    <td>李谷</td>
                    <td>上海浦东新区</td>
                    <td>公安局局长</td>
                    <td>局级</td>
                    <td><em>查看</em></td>
                    <td>班长</td>
                </tr>
            </table>
        </div>
        <!--同学录 结束-->
        <!--老师通讯录 开始-->
        <div class="content teacherList">
            <h2>老师<i class="tubiaoicon-17"></i></h2>
            <ul>
                <li>
                    <img src="../../img/teacher_img.jpg" />
                    <div class="info">
                        <span>姓&nbsp;名：李固</span>
                        <span>职&nbsp;务：班主任</span>
                        <span>手机号：<em>13508080398</em></span>
                        <span>单&nbsp;位：上海闸北区财务局</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/teacher_img2.jpg" />
                    <div class="info">
                        <span>姓&nbsp;名：李固</span>
                        <span>职&nbsp;务：班主任</span>
                        <span>手机号：<em>查看</em></span>
                        <span>单&nbsp;位：上海闸北区财务局</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/teacher_img3.jpg" />
                    <div class="info">
                        <span>姓&nbsp;名：李固</span>
                        <span>职&nbsp;务：班主任</span>
                        <span>手机号：<em>查看</em></span>
                        <span>单&nbsp;位：上海闸北区财务局</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/teacher_img2.jpg" />
                    <div class="info">
                        <span>姓&nbsp;名：李固</span>
                        <span>职&nbsp;务：班主任</span>
                        <span>手机号：<em>查看</em></span>
                        <span>单&nbsp;位：上海闸北区财务局</span>
                    </div>
                </li>
            </ul>
        </div>
        <!--老师通讯录 结束-->
    </div>
</div>