<div>
	<div class="rightPopup_box">
		<ul>
            <li><a><i class="tubiaoicon-13"></i><span>返回<br/>首页</span></a></li>
            <li><a><i class="tubiaoicon-14"></i><span>联系<br />客服</span></a></li>
            <li><a><i class="tubiaoicon-15"></i><span>用户<br />反馈</span></a></li>
            <li><a><i class="tubiaoicon-16"></i><span>返回<br />顶部</span></a></li>
		</ul>
	</div>
	<div class="popup_box" style="display:none;">
		<div class="popup_content release">
			<div class="content ">
				<h2>用户反馈<i class="tubiaoicon-17"></i></h2>
				<form action="" method="post">
					<ul>
						<li>
							标题：<input class="long" type="text"><i></i>
						</li>
						<li>
							内容：<textarea></textarea>
						</li>
						<li class="submit">
							<button class="btn" type="button">取消</button>
							<button class="btn" type="submit">提交</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    //alert(1);
        //    /*让弹窗垂直居中*/
        //    $(".popup_content").style({ "margin-top": $(".popup_content").height() - $(window).height() / 2 });
        //});
    </script>
</div>