<div>
    <input id="txtdepartment" class="form-control" type="text" autocomplete="off" ng-click="open()" ng-model="depname" readonly="readonly" style="background-color:white" />
    <div id="menuContent" class="menuContent" 
		 style="display:none;position: absolute;z-index:9999;width:350px;height:400px; overflow:auto;background-color:white;">
		<!--style="display:none; position: absolute;z-index:9999;background-color:white"-->
        <ul id="treeDemo" class="ztree"></ul>  <!--style="margin-top:0; width:350px;height:400px;"-->
    </div>
</div>

