<ion-view title="聊天">
    <div class="bar bar-header bar-positive">
        <button class='button button-icon icon ion-ios7-arrow-left' style='font-size:16px' ng-click='goBack()'>返回</button>
        <h1 class="title">聊天列表</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-plus-round" style="font-size:10px" ng-if="isteacher" ng-click="selectUser()">教师</button>
            <!--<i class="icon ion-plus-round" style="font-size:10px" ng-if="isteacher" ng-click="selectUser()">教师</i>-->
            <button class="button button-icon icon ion-plus-round" style="font-size:10px" ng-if="user.bcinfo_id" ng-click="selectStudent()">学员</button>
        </div>

    </div>
    <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="拖动刷新"
                       refreshing-text="加载中"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <ion-list class="list">
            <ion-item class="item item-icon-right" ng-click="goChat(item)" ng-repeat="item in chatList">
                <!--<img src="venkman.jpg"/>-->
                <h2>
                    {{item.name}}
                    <span style="text-align:right">{{item.lastupdatetime|chatDateFilter}}</span>
                    <span class="badge badge-assertive" ng-if="item.noread>0">{{item.noread}}</span>
                </h2>
                <p>人数:{{item.usercount}}</p>
                <i class="icon ion-ios-arrow-back"></i>
                <ion-option-button class="button-calm" ng-click="goSetting(item)">设置</ion-option-button>
                <ion-option-button class="button-balanced" ng-disabled="item.category==2||item.adminid!=uid" ng-click="showConform(item)">删除</ion-option-button>
                <ion-option-button class="button-assertive" ng-disabled="item.category==2" ng-click="exitGroup(item)">退出</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>