<ion-view   title="意见反馈">
	<ion-header-bar class="bar-positive" style="background: #e61d2b;">
		<a class='button button-icon icon ion-ios-arrow-back' ng-click='goBack()'></a>
		<h1 class="title">意见反馈</h1>
	</ion-header-bar>
	<ion-content>
		<textarea rows="12" cols="20" class="feedback" placeholder="请再此填写您的意见或是建议提交给我们"></textarea>
		<div class="item" style=" text-align: center; border: none; margin-top: 30%;">
			<button class="button button-positive" style="width:100%">提交</button>
		</div>

	</ion-content>

</ion-view>