<ion-view  title="个人信息">
	<ion-header-bar style="background: #e61d2b;">
		<a class='button button-icon icon ion-ios-arrow-back' ng-click='goBack()' style="color: #ffffff;"></a>
	     <h3 class='title' style="color: #ffffff;">个人信息</h3>
	</ion-header-bar>
	<ion-content>
        <div >
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hbb-info-table">
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">登录账号:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.logname}}</td>
                </tr>
                <!--<tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">出生日期:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.birthday}}</td>
                </tr>
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">性别:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.sex == 1 ? '男': '女'}}</td>
                </tr>
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">民族:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.nation}}</td>
                </tr>
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">政治面貌:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.political}}</td>
                </tr>-->
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">职务:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.positions}}</td>
                </tr>
                <tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">职级:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.rank}}</td>
                </tr>
                <!--<tr>
                    <th align="center" height="41px" bgcolor="#f5f5f5">邮箱:</th>
                    <td align="center" bgcolor="#f5f5f5">{{userPersonalInfo.email}}</td>
                </tr>-->
            </table>
        </div>
	</ion-content>
</ion-view>