<ion-view class="hbbBox"  title="中粮可口可乐饮料有限公司网络学院">
	<ion-tabs animation="slide-left-right" class="tabs-icon-top  tabs-color-assertive tabs-tabs hbb-footer">
		<ion-tab nav-direction="forward" title="课程" icon-on="icon hbb ion-kc" icon-off="hbb ion-kc" href="#/main/maincourse">
			<ion-nav-view name="tabview-main-maincourse"></ion-nav-view>
		</ion-tab>
		<ion-tab nav-direction="forward" title="选课" icon-on="icon hbb ion-xk" icon-off="hbb ion-xk" href="#/main/mainselectcourse">
			<ion-nav-view name="tabview-main-mainselectcourse"></ion-nav-view>
		</ion-tab>
		<ion-tab nav-direction="forward" title="学习班" icon-on="icon hbb ion-xxb" icon-off="hbb ion-xxb" href="#/main/mainclass">
			<ion-nav-view name="tabview-main-mainclass"></ion-nav-view>
		</ion-tab>
		<ion-tab nav-direction="forward" title="学档" icon-on="icon hbb ion-xd" icon-off="hbb ion-xd" href="#/main/mainrecord/0">
			<ion-nav-view name="tabview-main-mainrecord"></ion-nav-view>
		</ion-tab>
		<ion-tab nav-direction="forward" title="设置" icon-on="icon hbb ion-sz" icon-off="hbb ion-sz" href="#/main/mainsetting">
			<ion-nav-view name="tabview-main-mainsetting"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>
