<style>
    .grid1 {
        width: 100%;
        height: 500px;
    }
</style>
<div class="wrapper-content wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="b-a bg-light dk r r-2x" style="border:0px solid red; height:560px; overflow:auto;">
                <!--<div id="menuContent" class="menuContent">
                    <ul id="treeDemo" class="ztree" style="margin-top:0; width:100px;"></ul>
                </div>-->
                <div department-tree></div>
            </div>
        </div>
    </div>
</div>