<!-- Wrapper-->
<div id="wrapper">
    <!-- Navigation -->
    <div ng-include="'../Templates/back/navigation/navigation.html'"></div>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
        <!-- Page wrapper -->
        <div ng-include="'../Templates/back/top/top.html'"></div>
        <!-- Main view  -->
        <div ui-view></div>
        <!-- Footer -->
        <div ng-include="'../Templates/back/footer/footer.html'"></div>
    </div>
    <!-- End page wrapper-->
    <!-- Right Sidebar -->
    <!--<div ng-include="'../bower_components/inspinia-angular-master/views/common/right_sidebar.html'"></div>-->
</div>
<!-- End wrapper-->