<ion-view title="校院生活指南">
    <go-main-page></go-main-page>
    <ion-content overflow-scroll="false" class="has-header">
        <div class="collegeLifeFuide_container">
            <h3>
                <span>■ </span><span>作息时间</span>
            </h3>
            <p>
                <span>1.</span><span>上课时间：上午8:30-11:30 下午1:30-4:30</span>
            </p>
            <p>
                <span>上、下午各有一次课间休息</span>
            </p>
            <p>
                <span>2.</span><span>就餐时间：早餐7:00 午餐11:30 晚餐17:30</span>
            </p>
            <p>
                <span>就餐地点：依照入学通知安排</span>
            </p>
            <h3>
                <span>■ </span><span>住　宿</span>
            </h3>
            <p>
                <span>海华大厦 海兴大厦 （依照入学通知安排）</span>
            </p>
            <h3>
                <span>■ </span><span>交通、通讯</span>
            </h3>
            <p>
                <span>1.</span><span>学校地址：上海市虹漕南路200号 邮编200233</span>
            </p>
            <p>
                <span>2.</span><span>漕宝路虹漕南路口有地铁12号线，学校周边有909、830、764、</span>
            </p>
            <p>
                <span>732</span><span>、122、93、43路等多条公交线路</span>
            </p>
            <p>
                <span>3.</span><span>学校电话总机：22880000</span>
            </p>
            <p>
                <span>海兴、海华大厦电话使用办法请见大厦“服务指南”</span>
            </p>
            <p>
                <span>4.</span><span>航空、铁路售票联系电话：64750009</span>
            </p>
            <p>
                <span>5.</span><span>邮箱在校门口收发室</span>
            </p>
            <p>
                <span>6.</span><span>学校大门左拐10公尺有ATM取款机</span>
            </p>
            <h3>
                <span>■ </span><span>图书阅览</span>
            </h3>
            <p>
                <span>学员可凭学员证到图书馆阅览。凭学员证可开通外借功能（纸质</span>
            </p>
            <p>
                <span>书、电子书），离校退卡前需注销此功能。</span>
            </p>
            <h3>
                <span>■ </span><span>信息化</span>
            </h3>
            <p>
                <span>1.</span><span>打开电脑后，请直接按回车键进入系统，无需输入密码。</span>
            </p>
            <p>
                <span>2. </span><span>电脑C盘已加硬盘保护，客房电脑C盘(包括桌面)不可存放数</span>
            </p>
            <p>
                <span>据，请将数据存放于D盘或自带U盘。</span>
            </p>
            <p>
                <span>3. </span><span>电脑不支持另装软件，若需收发邮件或聊天，可通过IE浏览器使</span>
            </p>
            <p>
                <span>用网页模式进行操作。</span>
            </p>
            <p>
                <span>4.</span><span>如需下载，请右击鼠标选择网页另存为的方式进行下载。电脑不</span>
            </p>
            <p>
                <span>支持迅雷，电驴，BT等第三方下载工具进行下载。</span>
            </p>
            <p>
                <span>5. </span><span>房间网络连接方式为IP地址自动获取。自带笔记本连接上网时，</span>
            </p>
            <p>
                <span>请先记录下您原先使用的IP地址（以便还原配置）。详细设置方</span>
            </p>
            <p>
                <span>法及配图请参考《自带笔记本连接网络操作说明》。房间均已配</span>
            </p>
            <p>
                <span>置网线，其他需要可咨询海兴或海华大厦客房部。</span>
            </p>
            <p>
                <span>6. </span><span>海华大厦学员楼和教学楼，海兴大厦学员楼一楼和文体中心的校院自建WiFi名称为SDX，通过微信及短信方式认证，无资费，请根据</span>
            </p>
            <p>
                <span>提示认证连接上网。海兴学员楼房间内（部分楼层）的WiFi名称为</span>
            </p>
            <p>
                <span>对应客房号，密码见电脑显示器左下角，无资费，仅供房内使用。</span>
            </p>
            <p>
                <span>7.</span><span>教研咨综合管理平台和网上学员社区的使用指南可点击电脑桌面</span>
            </p>
            <p>
                <span>对应教学视频图标进入。</span>
            </p>
            <p>
                <span>8. </span><span>咨询报修热线：80222（工作日8:00-21:00；周末8:30-16:30）</span>
            </p>
            <h3>
                <span>■ </span><span>文体中心</span>
            </h3>
            <p>
                <span>1.</span><span>开放时间：周一至周五11:30-21:00（20:30停止入场）</span>
            </p>
            <p>
                <span>周六、周日9:30-18:00（17:30停止入场）</span>
            </p>
            <p>
                <span>国家法定假日不开放</span>
            </p>
            <p>
                <span>2.</span><span>使用方法：按照每学习日一次的标准充值，刷卡计次进入，每两</span>
            </p>
            <p>
                <span>小时（含）计一次，不足两小时的按两小时计次。</span>
            </p>
            <h3>
                <span>■ </span><span>就　医</span>
            </h3>
            <p>
                <span>学员可凭学员证到医务室就诊</span>
            </p>
            <p>
                <span>门诊时间：上午 8:00-16:30</span>
            </p>
            <p>
                <span>其余为急诊时间，急诊24小时值班制（节假日除外）</span>
            </p>
            <p>
                <span>夜间值班电话（分机）：83344；手机：18918989402</span>
            </p>
            <p>
                <span>地点：研究生楼112室（寒暑假不设夜班）</span>
            </p>
            <p>
                <span>费用：药费、治疗费等可用现金或社保卡支付</span>
            </p>
            <h3>
                <span>■ </span><span>理　发</span>
            </h3>
            <p>
                <span>海兴大厦3楼，服务时间：12:00-20:30</span>
            </p>
            <h3>
                <span>■ </span><span>商　店</span>
            </h3>
            <p>
                <span>海泓食堂一楼设有教育超市，营业时间：11:00-21:00</span>
            </p>
            <p>
                <span>学校大门左侧有华联、可的超市等</span>
            </p>
            <p>
                <span>另：海兴、海华学员楼一楼设有咖啡吧和西点屋</span>
            </p>
            <h3>
                <span>■ </span><span>注意事项</span>
            </h3>
            <p>
                <span>1.</span><span>学员楼除客房外请勿吸烟，教学楼内请勿吸烟</span>
            </p>
            <p>
                <span>2.</span><span>离校前请将一卡通分别退到海兴、海华大厦总台</span><span>__</span>
            </p>
        </div>
    </ion-content>
</ion-view>