<ion-view  title="面授申报">
	<ion-header-bar style="background-color: #558B2F;">
		<a class='button button-icon icon ion-ios-arrow-back' ng-click='goBack()' style="color: #ffffff;"></a>
	</ion-header-bar>
	<ion-content>
		<div class="list face_list">

			<label class="item item-input item-stacked-label ">
    			<span class="input-label"><strong>*</strong>培训名称</span>
    			<input type="text" ng-model="train.title">
  			</label>

            <label class="item item-input item-stacked-label hbb-active-select-container" ng-click="showRankPopup(0)">
                <span class="input-label"><strong>*</strong>培训类别1</span><br />
                <input type="text" ng-model="train.categoryone" readonly>
                <i class="ion-arrow-down-b hbb-active-select-arrow"></i>
            </label>

            <label class="item item-input item-stacked-label hbb-active-select-container" ng-click="showRankPopup(1)">
                <span class="input-label"><strong>*</strong>培训类别2</span><br />
                <input type="text" ng-model="train.categorytwo" readonly>
                <i class="ion-arrow-down-b hbb-active-select-arrow"></i>
            </label>

            <label class="item item-input item-stacked-label hbb-active-select-container" ng-click="showRankPopup(2)">
                <span class="input-label"><strong>*</strong>培训类别3</span><br />
                <input type="text" ng-model="train.categorythree" readonly>
                <i class="ion-arrow-down-b hbb-active-select-arrow"></i>
            </label>

            <label class="item item-input item-stacked-label hbb-active-select-container" ng-click="showRankPopup(3)">
                <span class="input-label"><strong>*</strong>培训类别4</span><br />
                <input type="text" ng-model="train.categoryfour" readonly>
                <i class="ion-arrow-down-b hbb-active-select-arrow"></i>
            </label>

			<label class="item item-input item-stacked-label ">
    			<span class="input-label"><strong>*</strong>开始时间</span>
    			<input type="date" ng-model="train.starttime">
  			</label>
			<label class="item item-input item-stacked-label ">
    			<span class="input-label"><strong>*</strong>结束时间</span>
    			<input type="date" ng-model="train.endtime">
  			</label>
	
            <label class="item item-input item-stacked-label hbb-active-select-container" ng-click="showRankPopup(4)">
                <span class="input-label"><strong>*</strong>申报年份</span><br />
                <input type="text" ng-model="train.year" readonly>
                <i class="ion-arrow-down-b hbb-active-select-arrow"></i>
            </label>
            
            <label class="item item-input item-stacked-label ">
    			<span class="input-label"><strong>*</strong>拟报学时</span>
    			<input type="text" ng-model="train.studytime">
  			</label>
			<label class="item item-input item-stacked-label ">
    			<span class="input-label">培训地点</span>
    			<input type="text" ng-model="train.address">
  			</label>
			<label class="item item-input item-stacked-label ">
    			<span class="input-label">主办单位</span>
    			<input type="text"ng-model="train.company" >
  			</label>
			<label class="item item-input item-stacked-label ">
    			<span class="input-label">证明人</span>
    			<input type="text" ng-model="train.reference">
  			</label>
		</div>
		<div class="item" style=" text-align: center; border: none;">
			<button class="button  button-positive" style="width:90%;margin: 0 auto;" ng-click="applyCourse()">提交</button>
		</div>

	</ion-content>

</ion-view>