<ion-view  title="修改密码">
	<ion-header-bar class="bar-positive" style="background: #558B2F;">
		<a class='button button-icon icon ion-ios-arrow-back' ng-click='goBack()'></a>
		<h1 class="title">修改密码</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list register-list">
			<label class="item item-input item-stacked-label ">
    			<span class="input-label">新密码</span>
    			<input type="password" ng-model="info.password" />
				<p class="ts">密码不得低于8位</p>
  			</label>
			<label class="item item-input item-stacked-label ">
    			<span class="input-label">确认密码</span>
    			<input type="password"  ng-model="info.passwordConfirm" />
  			</label>
		</div>
		<div class="item" style=" text-align: center; border: none;">
			<button class="button button-positive" style="width:100%" ng-click="resetPassword()">完成</button>
		</div>
	</ion-content>
</ion-view>