<div class="top">
    <div class="clearfix main row">
		<div class="col-md-4">
            技术支持电话：010-66556071
		</div>
        <div class="col-md-3 text-center">
            {{todaydatespan}}
        </div>
        <div class="col-md-5 text-right">
            <a href="javascript:void(0);"><i class="icon user"></i>{{user.name}}</a>
            <a href="javascript:void(0);" ng-click="toToSetting();"><i class="icon setting"></i>个人设置</a>
            <a ng-if="userpermission[0]" href="../html/indexfront.html#/main/myclasslist" class="active"><i class="icon studyCenter"></i>学习中心</a>
            <a href="javascript:void(0);" ng-if="userpermission[1]" ng-href="{{backurl}}"><i class="icon glCenter"></i>管理中心</a>
            <a href="javascript:void(0);" ng-click="exit()"><i class="icon logout"></i>退出</a>
        </div>
    </div>
</div>