<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--课件授权二维码生成的IP加端口-->
    <add key="remoteIP" value="10.16.224.123"/>
    <!--启用调试-->
    <add key="debugSQL" value="true"/>
	  <!--设置错误日志缓存行数,需要设置debugSQL为true-->
	  <add key="CacheLogRows" value="2"/>
	  <!--设置性能日志缓存行数，需要设定时间，时间过期停止记录-->
	  <add key="CacheStopWatchRows" value="2"/>
	  <!--设置业务日志缓存行数-->
	  <add key="CacheBusinessRows" value="10"/>
    <!--启用实时获取配置文件，正式环境应启用，当启用时所有配置文件更改都需要进入相应界面刷新配置-->
	  <add key="memoryConfig" value="false"/>
	  <!--创客接入班级ID-->
	  <add key="MakerClassId" value="0fd13c51-a141-4cd2-93e6-0f52696680f5"/>
	  <!--创客接入AppID-->
	  <add key="MakerAppId" value="666666"/>
	  <!--短信帐号用户ID-->
	  <add key="SmsUserId" value="8008810"/>
	  <!--短信企业代码-->
	  <add key="SmsEnterpriseCode" value="fgwzdkwlpx"/>
	  <!--短信密码-->
	  <add key="SmsPwd" value="zdkwlpx111"/>
  </appSettings> 
  <connectionStrings>
    <add name="ConnectionString"  connectionString="Server=10.16.224.100;Database=partycollegehbbndrc;Uid=dsoa;Pwd=dreamsoft;pooling = false;connection timeout=10;Allow User Variables=True" providerName="MySql.Data.MySqlClient;" />
	<add name="LogConnectionString" connectionString="Server=10.16.224.100;Database=partycollegelog;Uid=dsoa;Pwd=dreamsoft;pooling = false;connection timeout=10;Allow User Variables=True" providerName="MySql.Data.MySqlClient;" />
    <!--<add name="ConnectionString" connectionString="Server=localhost;Database=mysql;Uid=dsoa;Pwd=dreamsoft;" providerName="MySql.Data.MySqlClient;"  222.204.170.113/>max pool size=200;min pool size=5;-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
    <sessionState mode="StateServer" cookieless="false" timeout="120" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="14400"/>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2048000" executionTimeout="60" appRequestQueueLimit="100" targetFramework="4.5"/>
	<globalization requestEncoding="utf-8" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <caching>
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xaml" />
      <remove fileExtension=".woff2" />

      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight"/>
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff2" />
    </staticContent>
    <security>
	  <requestFiltering >
		<requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
	  </requestFiltering>
	</security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--log4net start     -->  
  <log4net>
    <!--定义输出到数据库中-->
    <appender name="ADONetAppender_MYSQL" type="log4net.Appender.AdoNetAppender" >
      <bufferSize value="2" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="Server=10.16.224.100;Database=partycollegelog;Uid=dsoa;Pwd=dreamsoft;" />
      <commandText value="INSERT INTO {0}(username ,userid ,classid ,platformid ,usertype ,classname ,handle ,handletime ,handlecategory ) VALUES (@username,@userid,@classid,@platformid,@usertype,@classname,@handle,@handletime,@handlecategory)" />
      <usetransactions value="false"/>
		<parameter>
        <parameterName value="@username" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{username}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userid" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@classid" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{classid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@platformid" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{platformid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@usertype" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{usertype}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@classname" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{classname}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@handle" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{handle}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@handletime" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{handletime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@handlecategory" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{handlecategory}" />
        </layout>
      </parameter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ADONetAppender_MYSQL" />
    </root>
  </log4net>
  <!--log4net end -->
</configuration>
